/* Add CSS Styling */
p {
    background-color: hsl(0, 79%, 72%);
    font-family: Verdana, DejaVus Sans, sans-serif;
}

.two {
    color: blue;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}