body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px;
  display: inline-block;
}

.title {
  background: #e3f4ff;
  display: inline-block;
  padding-right: 220px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-left: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.button-container {
  background: #e3f4ff;
  display: inline-block;
  padding-right: 130px;
  margin-left: 10px;
  padding-left: 145px;
  padding-top: 10px;
  margin-bottom: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}